* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  body {
    background-image: url(images/2714119.png);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh
  }
  #title {
    
    font-size: 50px;
    color:white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  #subtitle {
    
    font-size:40px;
    color:white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  h3 {
    font-size: 150px;
  }
  p {
    font-size: 30px;
  }
  .mainContainer {
    margin-top: 75px;

  }
  .box {
    margin: 10px;
    padding:15px;
    text-align: center;
    vertical-align: text-top;
    border: none;
    display: none;
    background-color:rgba(19, 19, 247,0.1);
    color:white;
    font-weight:bolder;
    cursor:pointer;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;


  }
  .container {
    display: flex;
    justify-content: center;
    bottom: 0;
  }

  button:active {
    transform: scale(1.1);  
  }
  
  .imageContainer{
    display: flex;
    justify-content: center;
    
    
  }
  img {
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 50px;
      height: 200px;
      width: 200px;
  }
  .pokeButton {
      border: none;
      background-color: rgba(0,0,0,0);
      cursor: pointer
  }

  span {
    color:white;
    font-weight:bolder;
    background-color:rgba(20, 69, 143, 0.2);
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    padding:16px
    
  }
  .progress.is-large {
    height: 30px;
    margin: 10px;
  }
  
  #barContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: none;
    background-color:rgba(20, 69, 143, 0.2);
  }
  
  #labelContainer {
    display: flex;
    flex-direction: column; 
    display: none;  
  }

  @media (max-width: 600px) {

    #title {
      font-size: 25px;
      margin-top: -2em

    }
    #subtitle {
      font-size: 15px

    }

    img {
      height:7.1rem;
      width:7.1rem
    }

    .imageContainer{
      display: flex;
      flex-direction:column
    }

    

    #labelContainer span {
       display:none;
    }

    #labelContainer span:nth-child(3) {
      
      padding:0.7em;
      margin-top:2em;
      margin-left:95px
   }

   #labelContainer span:nth-child(1) {
      
    padding:0.7em;
    margin-top:6px;
    margin-left:95px
 }
   #labelContainer span:nth-child(2) {
    
    padding:0.7em;
    margin-top:8px;
    margin-left: 95px
 }

 #labelContainer span:nth-child(4) {
  
  padding:0.7em;
  margin-top:10px;
  margin-left:95px
}

#labelContainer span:nth-child(5) {
  
  padding:0.7em;
  margin-top:5em;
  margin-left:7.2em
}

    #barContainer {
      margin-left: 6em;
      width:50%;
      height:30vh
    }

    #progressbar1::before {
      content: "Hunger";
      color:white;
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
      font-weight:bold
      
    }
    #progressbar2::before {
      content: "Boredom";
      color:white;
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
      font-weight:bold
      
    }

    #progressbar3::before {
      content: "Thirst";
      color:white;
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
      font-weight:bold
      
    }

    #progressbar4::before {
      content: "Special";
      color:white;
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
      font-weight:bold
      
    }
    #progressbar5::before {
      content: "EXP";
      color:white;
      text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
      font-weight:bold
      
    }


    .container {
      flex-wrap:wrap;
    }

    .container:nth-child(4) {
      font-size: 52em
    }
    p {
      font-size: 1.2em
    }

    #specialLabel {
      font-size:12px;
      
    }
    #button4 {
      font-size: 1.2em
      
    }
      
    
  }
    
  

